// main: ../../../css/styles.scss

@mixin transition($speed, $delay) {
    -webkit-transition: all $speed ease $delay !important;
    -moz-transition   : all $speed ease $delay !important;
    -ms-transition    : all $speed ease $delay !important;
    -o-transition     : all $speed ease $delay !important;
    transition        : all $speed ease $delay !important;
}

@mixin animation($name, $duration) {
-webkit-animation: $name $duration; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: $name $duration; /* Firefox < 16 */
        -ms-animation: $name $duration; /* Internet Explorer */
         -o-animation: $name $duration; /* Opera < 12.1 */
            animation: $name $duration;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform   : $property;
    -ms-transform    : $property;
    -o-transform     : $property;
    transform        : $property;
}

@mixin primary_text_color($opacity) {
    color: rgba($primary-color,$opacity);
}
@mixin primary_bg_color($opacity) {
    background-color: rgba($primary-color,$opacity);
}

@mixin secondary_text_color($opacity) {
    color: rgba($secondary-color,$opacity);
}
@mixin secondary_bg_color($opacity) {
    background-color: rgba($secondary-color,$opacity);
}


@mixin theme_grad_one($deg) {
  background: #363f44 !important;
  background: -moz-linear-gradient($deg,  $primary-color 1%, lighten($primary-color, 5%) 100%) !important;
  background: -webkit-linear-gradient($deg,  $primary-color 1%,lighten($primary-color, 5%) 100%) !important;
  background: linear-gradient($deg,  $primary-color 1%,lighten($primary-color, 5%) 100%) !important;
}
